.sign {
  padding: 159px 0 0 0;
}

.sign__title {
  font-weight: 500;
  font-size: calc(20px + 15 * ((100vw - 320px) / (1920 - 320)));
  color: #020a17;
  padding: 0 0 15px 0;
  border-bottom: 2px solid rgba(2, 10, 23, 0.1);
  margin: 0 0 60px 0;
}

.sign__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__icon {
  margin: 0 0 40px 0;
}

.sign__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 30px 0;
}

.sign__tab {
  color: rgba(2, 10, 23, 0.2);
  margin: 0 25px 0 0;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  cursor: pointer;
  line-height: calc(23/18);
}

.sign__tab:last-child {
  margin: 0;
}

.sign__tab._current {
  color: #020a17;
  position: relative;
}

.sign__tab._current:before {
  content: '';
  width: 100%;
  height: 2px;
  bottom: -2px;
  position: absolute;
  background: #020a17;
}

.sign-slide {
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.sign-slide._current {
  position: static;
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto;
}

.sign-slide__input {
  position: relative;
  margin: 0 0 30px 0;
}

.sign-slide__input_list:before {
  content: '';
  height: 45px;
  width: 45px;
  right: 1px;
  top: 1px;
  pointer-events: none;
  position: absolute;
  background: #fff url("../img/dropdown_arrow_black.svg") center center/12px 5px no-repeat;
}

.sign-slide__input label {
  position: absolute;
  left: 28px;
  top: -15px;
  font-size: 15px;
  line-height: calc(19/15);
  font-weight: 500;
  color: rgba(2, 10, 23, 0.5);
  padding: 5px;
  background: #fff;
  z-index: 1;
}

.sign-slide__input input,
.sign-slide__input textarea {
  resize: none;
  width: 336px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 15px 10px 10px 10px;
  font-size: 16px;
  border: 1px solid rgba(2, 10, 23, 0.5);
}

.sign-slide__input_full button {
  width: 100%;
}

.sign-slide__input_button a {
  font-size: 12px;
  color: rgba(2, 10, 23, 0.5);
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.sign-slide__input_button button {
  background: #2CC9CC;
  margin: 0 35px 0 0;
  font-size: 15px;
  color: #f1f2f2;
  font-weight: bold;
  padding: 10px 50px;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

@media (min-width: 992px) {
  .sign-slide__input_button a:hover {
    color: #020a17;
  }

  .sign-slide__input_button button:hover {
    background: #20E4A4;
  }
}

@media (max-width: 425px) {
  .sign-slide__input input,
  .sign-slide__input textarea {
    width: 280px;
  }

  .sign-slide__input_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sign-slide__input_button button {
    width: 100%;
    margin: 0 0 25px 0;
  }
}